/* Author: Hugues Demers
 * Copyrights 2013
 */
@import "base.css";
@import "http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css";

body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
}

#locate {
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;
}

#idInput {
    position: absolute;
    z-index: 10;
    top: 70px;
    right: 10px;
}

.user {
    border-radius: 17px;
    /*background: #a82c37;*/
    /*background: #e1bb18;*/
    background: #000000;
    /*position: relative;*/
    /*overflow: hidden;*/
    /*width: 30px;*/
    /*height: 30px;*/
}

.user span.glyphicon {
    font-size: 20px;
    margin: 3px 0px 0px 7px;
    color: #fff;
}

.user span.glyphicon.nonreporting {
    color: #a82c37;
}

.user span.glyphicon.nonmoving {
    color: #e1bb18;
}
